In [3]:
import pandas as pd
url="Sample_website_for_we_scraping_prac.html"
tables=pd.read_html(url) #reads for tables in the website with the link in url
#No table available on this website,hence,error received

C:\Users\HP\AppData\Local\Temp\ipykernel_15700\2380142253.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables=pd.read_html(url) #reads for tables in the website with the link in url
C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\pandas\io\html.py:661: MarkupResemblesLocatorWarning: The input passed in on this line looks more like a filename than HTML or XML.

If you meant to use Beautiful Soup to parse the contents of a file on disk, then something has gone wrong. You should open the file first, using code like this:

    filehandle = open(your filename)

You can then feed the open filehandle into Beautiful Soup instead of using the filename.

However, if you want to parse some data that happens to look like a filename, then nothing has gone wrong: you are using Beautiful Soup correctly, and this warning is spurious and can be filtered. To make this warning go away, run this code before calling the BeautifulSoup constructor:

    from bs4 import MarkupResemblesLocatorWarning
    import warnings

    warnings.filterwarnings("ignore", category=MarkupResemblesLocatorWarning)

  soup = BeautifulSoup(udoc, features="html5lib", from_encoding=from_encoding)

ValueError: No tables found

In [4]:
url2="https://dlai-lc-dag.s3.us-east-2.amazonaws.com/countries_and_pet_population.html"
tables2=pd.read_html(url2)

In [5]:
tables2

[                               Country  Population 2022  Population 2023  \
 0                                World       8021407192       8091734930
 1                                India       1425423212       1438069596
 2                            China [a]       1425179569       1422584933
 3                        United States        341534046        343477335
 4                            Indonesia        278830529        281190067
 ..                                 ...              ...              ...
 233        Montserrat (United Kingdom)             4453             4420
 234  Falkland Islands (United Kingdom)             3490             3477
 235              Tokelau (New Zealand)             2290             2397
 236                 Niue (New Zealand)             1821             1817
 237                   Vatican City [x]              505              496

     Change %            Region Official Language  Dog Population  \
 0     +0.88%      WRLD - World               NaN             NaN
 1     +0.89%      ASIA - South    Hindi, English      10200000.0
 2     -0.18%       ASIA - East  Standard Chinese      27400000.0
 3     +0.57%      AMER - North           English      69929000.0
 4     +0.85%  ASIA - Southeast        Indonesian             NaN
 ..       ...               ...               ...             ...
 233   -0.74%  AMER - Caribbean               NaN             NaN
 234   -0.37%      AMER - South               NaN             NaN
 235   +4.67%  OCNA - Polynesia               NaN             NaN
 236   -0.22%  OCNA - Polynesia               NaN             NaN
 237   -1.78%      EURP - South    Italian, Latin             NaN

      Cat Population  Bird Population  Aquaria Population  \
 0               NaN              NaN                 NaN
 1               NaN              NaN                 NaN
 2        53100000.0              NaN                 NaN
 3        74059000.0        8300000.0                 NaN
 4               NaN              NaN                 NaN
 ..              ...              ...                 ...
 233             NaN              NaN                 NaN
 234             NaN              NaN                 NaN
 235             NaN              NaN                 NaN
 236             NaN              NaN                 NaN
 237             NaN              NaN                 NaN

      Small Mammal Population  Terraria Population
 0                        NaN                  NaN
 1                        NaN                  NaN
 2                        NaN                  NaN
 3                        NaN                  NaN
 4                        NaN                  NaN
 ..                       ...                  ...
 233                      NaN                  NaN
 234                      NaN                  NaN
 235                      NaN                  NaN
 236                      NaN                  NaN
 237                      NaN                  NaN

 [238 rows x 12 columns]]

In [6]:

type(tables2)

list

In [7]:
type(tables2[0])

pandas.core.frame.DataFrame

In [8]:
len(tables2)

1

In [9]:
tables2[0].head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population
0,World,8021407192,8091734930,+0.88%,WRLD - World,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1425423212,1438069596,+0.89%,ASIA - South,"Hindi, English",10200000.0,NaN,NaN,NaN,NaN,NaN
2,China [a],1425179569,1422584933,-0.18%,ASIA - East,Standard Chinese,27400000.0,53100000.0,NaN,NaN,NaN,NaN
3,United States,341534046,343477335,+0.57%,AMER - North,English,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN
4,Indonesia,278830529,281190067,+0.85%,ASIA - Southeast,Indonesian,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
type(tables2[0].head())

pandas.core.frame.DataFrame

In [11]:
type(tables2[0])
df=tables2[0]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    object
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 22.4+ KB

In [12]:
tables2[0].head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  5 non-null      object
 1   Population 2022          5 non-null      int64
 2   Population 2023          5 non-null      int64
 3   Change %                 5 non-null      object
 4   Region                   5 non-null      object
 5   Official Language        4 non-null      object
 6   Dog Population           3 non-null      float64
 7   Cat Population           2 non-null      float64
 8   Bird Population          1 non-null      float64
 9   Aquaria Population       0 non-null      float64
 10  Small Mammal Population  0 non-null      float64
 11  Terraria Population      0 non-null      float64
dtypes: float64(6), int64(2), object(4)
memory usage: 612.0+ bytes

In [13]:
df["Change %"].mean() #string type not applicable for float operations

TypeError: Could not convert string '+0.88%+0.89%-0.18%+0.57%+0.85%+1.56%+2.12%+0.40%+1.23%-0.10%+0.88%+2.64%-0.50%+0.81%+1.70%+3.31%+0.67%+1.21%+0.24%+0.55%-0.05%+0.74%+2.95%+0.24%+1.34%-0.20%+2.00%+0.70%+1.13%-0.07%+1.34%+2.84%+0.17%+1.51%+0.29%+2.28%+2.16%+3.06%+1.23%+0.98%-8.08%+1.03%+3.13%+2.04%+1.24%+1.11%+1.93%+3.00%+0.28%+2.49%+2.54%+0.84%+2.68%+0.31%+0.95%+0.34%+3.35%+3.02%+5.04%-0.44%+2.30%+0.60%+2.60%+2.83%+1.47%+0.54%+4.68%-0.25%+3.13%+1.55%+2.42%+1.05%+0.88%+1.29%+1.69%+2.49%+2.55%+2.22%+2.77%+1.38%+0.67%+0.61%+1.16%+4.19%+1.63%+0.90%-0.36%+1.28%+1.73%+3.91%+0.61%+0.13%+2.04%+1.83%+0.22%-1.63%-2.79%+2.36%+1.68%+0.73%-0.63%+0.89%+2.22%+1.40%-0.31%+1.86%+1.13%+1.69%+1.24%+1.38%-0.44%-0.27%+0.47%+2.45%+0.77%+2.46%-0.19%+0.57%+1.12%+0.82%+2.23%+1.96%+1.69%+0.80%+1.07%+0.47%+6.74%+3.01%+5.43%+1.32%-0.28%+0.33%+1.79%+1.36%-0.08%+0.03%-0.62%+0.89%+2.99%+2.54%+2.17%+1.32%+0.02%-0.56%+2.33%+2.22%+1.65%+1.11%+2.27%+0.15%+0.07%+2.44%-0.46%-1.04%+2.36%+0.47%+1.09%+1.27%+1.02%-0.20%+0.95%+1.39%+0.51%+0.38%+1.94%+0.57%+2.42%+0.70%+1.36%+1.80%+3.08%+0.92%+1.93%+0.90%+0.36%+0.50%+0.79%+2.08%+0.48%+1.89%-2.13%-0.99%+2.35%+3.52%+1.71%+0.96%-2.07%+0.26%+2.02%+0.65%+0.04%+0.28%+0.80%+1.58%+1.94%+0.14%+0.46%-0.42%+0.15%+0.18%-0.71%+0.51%-0.93%+0.04%+1.44%+2.02%-0.47%-0.08%+0.46%+1.69%+1.30%-1.70%+0.10%+0.77%-2.03%+1.45%+0.71%+1.74%+0.06%+2.29%-3.12%-1.05%+4.44%-4.69%-0.18%+1.62%-3.40%+0.63%-0.94%+1.51%-1.76%-0.89%-1.01%-0.74%-0.37%+4.67%-0.22%-1.78%' to numeric

In [ ]:
#using replace method for interconversion of data types
"+0.88%".replace("%","") #empty string represents nothing

'+0.88'

In [14]:
df["Change %"]=df["Change %"].replace("%","")
df["Change %"].head() #it still gives % values only
#The replace method is meant for a single change not in every substring
#So,convert it to string using str

0    +0.88%
1    +0.89%
2    -0.18%
3    +0.57%
4    +0.85%
Name: Change %, dtype: object

In [15]:
df["Change %"]=df["Change %"].str.replace("%","")
df["Change %"].head()

0    +0.88
1    +0.89
2    -0.18
3    +0.57
4    +0.85
Name: Change %, dtype: object

In [16]:
#Vectorized accessors used to apply operation to each value in a column
#Accesor for data frames


#Casting-Changing data types
df["Change %"]=df["Change %"].astype("Float64") #Float64 special type of panda float,manages void types


#Missing Data analysis

In [17]:
top_countries = df["Country"].sort_values().head() #By alphabetic order
print(top_countries)
top_countries2=df.sort_values(by="Population 2023",ascending=False).head()["Country"]
print(top_countries2)

36                        Afghanistan
143                           Albania
33                            Algeria
211    American Samoa (United States)
204                           Andorra
Name: Country, dtype: object
0            World
1            India
2        China [a]
3    United States
4        Indonesia
Name: Country, dtype: object

In [18]:
top_countries2=top_countries2.replace("Indonesia","IndonESIA")

In [19]:
print(top_countries2)

0            World
1            India
2        China [a]
3    United States
4        IndonESIA
Name: Country, dtype: object

In [20]:
#Missing Data Analysis

#Dropping rows with missing values corresponding to any columns header
df_dogs_cats_all=df.dropna(subset=["Dog Population","Cat population"]) #subset named argument with list of columns
df_dogs_cats_all.info()

KeyError: ['Cat population']

In [21]:
#Fill in missign values with reasonable values=For eg-mean value
df["dogs_per_capita"] = df["Dog Population"] / df["Population 2023"]

In [22]:
df["dogs_per_capita"].describe()

count    38.000000
mean      0.137065
std       0.069887
min       0.007093
25%       0.099721
50%       0.128252
75%       0.183206
max       0.297817
Name: dogs_per_capita, dtype: float64

In [23]:
df["Dog Population"] = df["Dog Population"].fillna(df["Population 2023"] * 0.137065) #filling values function fillna 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    Float64
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           238 non-null    float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
 12  dogs_per_capita          38 non-null     float64
dtypes: Float64(1), float64(7), int64(2), object(3)
memory usage: 24.5+ KB

In [ ]:
df["English"] = df["Official Language"] == "English" # true if English is one of the official languages
df["English"].head()

In [24]:
df["English"] = df["Official Language"].str.contains("English")
df["English"].head()

0      NaN
1     True
2    False
3     True
4    False
Name: English, dtype: object

In [ ]:
english_df = df[df["English"] == True] #all the rows containing english
len(english_df)

56

In [26]:
english_df["Population 2023"].sum()

np.int64(3010448677)

In [27]:
#substrings and its attributes

text = "China [a]"
substrings = text.split("[")
substrings

['China ', 'a]']

In [28]:
len(substrings)

2

In [29]:
substrings[0]

'China '

In [ ]:
df["Country"].str.split("[")  #splits from the first bracket mentioned removing it also

0                                  [World]
1                                  [India]
2                             [China , a]]
3                          [United States]
4                              [Indonesia]
                      ...
233          [Montserrat (United Kingdom)]
234    [Falkland Islands (United Kingdom)]
235                [Tokelau (New Zealand)]
236                   [Niue (New Zealand)]
237                    [Vatican City , x]]
Name: Country, Length: 238, dtype: object

In [32]:
df["Country"].str.split("[")[0] #taking the first row of the splitted column

['World']

In [ ]:
df["Country"] = df["Country"].str.split("[").str[0]
df["Country"]   #str[0] takes the first element of the list in each row

0                                  World
1                                  India
2                                 China
3                          United States
4                              Indonesia
                     ...
233          Montserrat (United Kingdom)
234    Falkland Islands (United Kingdom)
235                Tokelau (New Zealand)
236                   Niue (New Zealand)
237                        Vatican City
Name: Country, Length: 238, dtype: object

In [ ]:
df["Country"].str.contains("]").sum() #checking for any left out brackets

np.int64(0)

In [36]:
df["Country"].head()

0            World
1            India
2           China
3    United States
4        Indonesia
Name: Country, dtype: object

In [ ]:
df["Country"] = df["Country"].str.strip() #strip function-removing whitespace generated after splitting function
df["Country"].head()

0            World
1            India
2            China
3    United States
4        Indonesia
Name: Country, dtype: object